body {
  
    color:black;
    height:650px;
    width: 650px;
    background-image: url(bk2.png);
    min-width: 1000px;
    min-height: 1000px;
}
div.box-1{
	margin-left:278px;
	margin-top: 162px;
	color: black;
	font-size: 20px;
    padding: 3px;
	border: 4px solid lightgreen ;
	background-color:lightyellow;
    width:200px;

     }
h2{
	
	color: black;
	border-right: 75%;

}
h1{
	margin-top:2%;
	margin-left:50%;
	color:coral;
}
 
.mode{
	display:block;
	box-sizing: border-box;
	margin-top: 10px; 
	margin-left: 30%;
}
div p.para{
	font-size: 10px;
}