body{
	background-color:lightgray;
	display: flex;
	background-image: url("bk3.png");
	height: 650px;
	width:650px;
	 min-width: 1000px;
    min-height: 1000px;


}
#canvas{
	
	background: white;
	border:5px solid darkviolet;
	height: 600px;
	width:700px;
	background-image:url("");
	background-repeat: no-repeat;
	background-position: center;

}
#replay ,#main-menu {
	display: block;
	color:white;
	text-decoration: none;
	padding-left: 10px;
	padding-top:10px;
}
#replay:hover,#main-menu:hover{
	color:darkorange;
	background-color: black;
	padding-left: 25px;
}


.SC{
	background-color: white;
	color:black;
}
.header{
	background-color:black;
	height: 610px;
}
p{
	color:white;
}
#head{
	color:coral;
}